---
import Main from "./Main.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

type Props = {
  title: string;
  subtitle: string;
  poster?: ImageMetadata;
  tags: string[];
};

const { title, subtitle, poster, tags } = Astro.props;
---

<Main title={title}>
  <div class="blog-layout">
    {
      poster && (
        <figure class="figure">
          <Image
            src={poster}
            alt={title}
            width={1200}
            class="figure__image"
            transition:name="hero"
          />
          <figcaption>Poster Image for {title.toLowerCase()}</figcaption>
        </figure>
      )
    }
    <h1 transition:animate="fade" transition:name="title">{title}</h1>
    <h2>{subtitle}</h2>
    {
      tags && tags.length > 0 && (
        <div class="tags">
          {tags.map((tag) => (
            <a href={`/tags/${tag}`} class="tag">
              {tag}
            </a>
          ))}
        </div>
      )
    }
    <slot />
  </div>

  <style>
    .blog-layout {
    }
  </style>
</Main>
